/* Base & Utility Styles */
* {
	box-sizing: border-box;
}

body {
	font-family: 'Noto Sans', sans-serif;
	font-size: 18px;
	line-height: 1.7;
	color: #f0ebd8;
}

h1 {
	font-size: 2.5em;
	text-align: center;
}

img {
	width: 100%;
}

a {
	color: inherit;
	text-decoration: none;
}

button {
	background: transparent;
	border: 2px solid #f0ebd8;
	color: #f0ebd8;
	padding: 1em;
	font-size: 1em;
	border-radius: 5px;
}

button:hover {
	background: #748cab;
}

.wrapper,
.nav {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

.wrapper {
	height: 100vh;
	border: 1px solid red;
	padding: 2em;
}

/* Flex Styles */
.flex {
	display: flex;
	flex-wrap: wrap;
	gap: 1em;
}

.column {
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

/* Header */
header {
	background-color: #0d1321;
	text-align: right;
	position: sticky;
	top: 0px;
}

.nav {
	background-color: #748cab;
	display: none;
	height: 80px;
}
.nav,
.nav ul {
	flex-direction: column;
	align-items: center;
}

/* Main */
#main {
	background-color: #1d2d44;
	color: #f0ebd8;
}

/* About */
#about {
	background-color: lightsalmon;
}

/* Resume */
#resume {
	background-color: peru;
}

/* Projects */
#projects {
	background-color: #748cab;
}

/* Contact */
#contact {
	background-color: teal;
}

@media screen and (min-width: 768px) {
	.nav,
	.nav ul {
		flex-direction: row;
	}
	.nav {
		display: flex;
		justify-content: space-between;
		background-color: #0d1321;
	}
	#ham {
		display: none;
	}
	#main {
		font-size: 1.3em;
	}
}
