/* Base & Utility Styles */
* {
	box-sizing: border-box;
	font-size: 16px;
}

.wrapper,
.nav {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

.wrapper {
	height: 100vh;
	background-color: aliceblue;
}
/* Flex Styles */
.flex {
	display: flex;
	flex-wrap: wrap;
}

/* Header */
header {
	background-color: darkgray;
}

.nav,
.nav ul {
	flex-direction: column;
	align-items: center;
	gap: 1em;
}

@media screen and (min-width: 768px) {
	.nav,
	.nav ul {
		flex-direction: row;
	}
	.nav {
		justify-content: space-between;
	}
}

/* Main */
#main {
	background-color: cornsilk;
}

/* About */
#about {
	background-color: lightsalmon;
}

/* Resume */
#resume {
	background-color: peru;
}

/* Projects */
#projects {
	background-color: seagreen;
}

/* Contact */
#contact {
	background-color: teal;
}
