/* Base & Utility Styles */
* {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body {
	font-family: 'Noto Sans', sans-serif;
	font-size: 18px;
	line-height: 1.7;
	color: #f0ebd8;
}

h1 {
	font-size: 2em;
	text-align: center;
}

h2 {
	font-size: 1.5em;
	margin-bottom: 2em;
}

h3 {
	font-size: 1.3em;
	margin-bottom: 0.5em;
	text-align: center;
}

img {
	width: 100%;
}

a {
	color: inherit;
	text-decoration: none;
}

.wrapper,
.nav {
	display: flex;
	flex-wrap: wrap;
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

.wrapper {
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1em;
	min-height: 100vh;
	flex-grow: 1;
}

#projects,
#about,
#resume,
#contact {
	padding-top: 70px;
}

.half {
	width: 45%;
}

/* Flex Styles */

/* Header */
header {
	background-color: #0d1321;
	text-align: right;
	position: sticky;
	top: 0px;
}

.nav {
	background-color: #0d1321;
	display: none;
}
.nav,
.nav ul {
	flex-direction: column;
	align-items: center;
}

.social img {
	margin-top: 10px;
	width: 50px;
}
/* Main */
#main {
	background-color: #0d1321;
	color: #f0ebd8;
}

#main button {
	background: transparent;
	border: 2px solid #f0ebd8;
	color: #f0ebd8;
	font-size: 1em;
	border-radius: 5px;
	padding: 1em;
}

#main button:hover {
	background: #748cab;
}

.profile-image {
	max-width: 70%;
}

/* About */
#about {
	background-color: #3e5c76;
}

/* Resume */
#resume {
	background-color: #748cab;
}

/* Projects */
#projects {
	background-color: #1d2d44;
}

.project-images img {
	width: 100%;
	display: none;
}

.project-images img:first-of-type {
	display: block;
}

.project-info {
	margin-right: auto;
	margin-left: auto;
}

.project-info div {
	display: none;
}

.project-info div:first-of-type {
	display: block;
}
.button-wrapper {
	display: flex;
	gap: 2em;
}

/* Contact */
#contact {
	background-color: #f0ebd8;
	color: #0d1321;
}

@media screen and (min-width: 768px) {
	.nav,
	.nav ul {
		display: flex;
		flex-direction: row;
		gap: 1.5em;
	}
	.nav {
		justify-content: space-between;
		background-color: #0d1321;
		padding: 0 1em;
	}
	#ham {
		display: none;
	}
	#main {
		font-size: 1.3em;
	}
	#main .wrapper {
		flex-direction: column;
	}
	h2 {
		font-size: 2em;
	}
	.project-info {
		width: 70%;
	}
	#projects .wrapper {
		flex-direction: column;
	}
	#about .wrapper {
		flex-direction: row;
		justify-content: space-around;
	}
	.about-div {
		flex-basis: 40%;
	}
}
